<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Database Gudang</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <style>
        *, body {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f7f9fc;
        }

        div#database-gudang{
            position: relative;
            width: 80%;
            min-height: 250px;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 60px;
            border-radius: 6px;
            background-color: #fff;
            box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
        }

        div#category-list{
            position: relative;
            width: 80%;
            min-height: 250px;
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 60px;
            border-radius: 6px;
            background-color: #fff;
            box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
        }

        div#database-gudang .header h2 {
            padding: 20px;
            background-color: #55a8fd;
            color: #fff;
        }

        div#category-list .header h2 {
            padding: 20px;
            background-color: #55a8fd;
            color: #fff;
        }

        div#category-list .header h2 button {
            margin-left: 70%;
            background-color: #fff;
            color: #696969;
        }

    </style>
</head>

<body>

    <div id="database-gudang">
        <div class="header">
            <h2>Database Gudang</h2>
        </div>
        <div class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Products</th>
                    </tr>
                </thead>
                <tbody>
                    <% groupResults.forEach(function(group){ %>
                    <tr>
                        <th scope="row">
                            <%= group.id %>
                        </th>
                        <td>
                            <%= group.category_name %>
                        </td>
                        <td>
                            <%= group.products %>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <div id="category-list">
        <div class="header">
            <h2>
                Category List

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#exampleModal">
                    Tambah
                </button>
                <!-- /.Button trigger modal -->

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel" style="color:#696969"><i
                                        class="fas fa-plus-square"></i>
                                    Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="" method="POST">
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-2">
                                        <label data-error="wrong" data-success="right" for="id" style="color:#696969; font-size: 15px"><strong>ID</strong></label>
                                        <input type="text" class="form-control validate" name="id">
                                    </div>

                                    <div class="md-form mb-2">
                                        <label data-error="wrong" data-success="right" for="category-name" style="color:#696969; font-size: 15px"><strong>Nama
                                                Category</strong></label>
                                        <input type="text" class="form-control validate" name="cname">
                                    </div>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button class="btn btn-primary btn-lg">Simpan</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.Modal -->
            </h2>
        </div>
        <div id="content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% categoryResults.forEach(function(category){ %>
                    <tr>
                        <th scope="row">
                            <%= category.id %>
                        </th>
                        <td>
                            <%= category.name %>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>